{
  "APP_ENV": "dev",
  "KEYCLOAK_BASE_URL": "http://localhost:8080",
  "KEYCLOAK_REALM": "fidelite",
  "KEYCLOAK_CLIENT_ID": "fidelite-app",
  "OAUTH_REDIRECT_SCHEME_MOBILE": "com.example.fidelite",
  "OAUTH_REDIRECT_URI_WEB": "http://localhost:5173/auth.html",
  "SERVERPOD_BASE_URL": "http://localhost:8083/"
}
